html {
  font-size: 62.5%;
}
body {
  background: rgb(75, 52, 39);
  background: radial-gradient(
    circle,
    rgba(75, 52, 39, 1) 0%,
    rgba(25, 19, 15, 1) 100%
  );
  height: 10rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header {
  display: flex;
  gap: 1rem;
  color: white;
  margin: 2rem 1rem;
}

.logo {
  width: 3rem;
  height: 3.7rem;
}

.mobile {
  width: 31rem;
  height: 62rem;
}

.mobile-con {
  margin: 2rem auto;
  text-align: center;
}

.box {
  background: #000000;
  text-align: center;
  margin: 10rem auto;
  padding: 2rem;
  padding-bottom: 1.1rem;
  width: 25rem;
  height: auto;
  border-radius: 4.5rem;
  position: relative;
  bottom: 71.4rem;
}

.calculation {
  color: #9b9b9b;
  font-size: 2rem;
  text-align: right;
  position: relative;
  margin-bottom: 1rem;
  top: 11rem;
  height: 4rem;
}

#display {
  width: 23rem;
  height: 5rem;
  font-size: 6rem;
  border: 0;
  outline: 0;
  color: white;
  background: black;
  margin-top: 9.9rem;
  text-align: right;
}

.buttons-con {
  margin: 2rem 0;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 5.8rem);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem;
}

.button {
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5rem;
  padding: 1.7rem;
  font-size: 2rem;
  background: #2a2a2c;
  cursor: pointer;
  transition: background 0.1s;
}

.button:active {
  background: #5c5c5f;
}

.button_wide {
  text-align: left;
  grid-column: span 2;
}

.gray {
  background: #5c5c5f;
}

.gray:active {
  background: #909094;
}

.red {
  background: #ff9f0a;
}

.red:active {
  background: #ffd89d;
}

.navbar {
  width: 11rem;
  height: 0.5rem;
  background: white;
  border-radius: 20rem;
  margin: auto;
}
